

.body2
{
    margin:0;   
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: rgba(255, 255, 255, 0);
}
.container4
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    margin-right: -0;
    
}
.btn
{
    width: 65px;
    height: 65px;
    background-color: #fafafa00;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2em;
    margin-right: 1em;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 10px;
}
i.fa
{
    font-size: 44px;
}
#fb
{
    color: #006fff;
    text-shadow: 0 0 30px #006fff;
}
#ig
{
    color: #ff5f40;
    text-shadow: 0 0 30px #ff5f40;
}
#tw
{
    color: #00acff;
    text-shadow: 0 0 30px #00acff;
}
.btn.fb-btn
{
    box-shadow: 0 20px 20px -17px rgba(0,111,255,0.53);
}
.btn.fb-btn:hover
{
    transform: scale(1.2);
    box-shadow: 0 30px 45px -15px rgba(0,111,255,0.65);
}
.btn.ig-btn
{
    box-shadow: 0 20px 20px -17px rgba(255,16,39,0.5);
}
.btn.ig-btn:hover
{
    transform: scale(1.2);
    box-shadow: 0 30px 45px -15px rgba(255,16,39,0.57);
}
.btn.tw-btn
{
    box-shadow: 0 20px 20px -17px rgba(0,255,255,0.53);
}
.btn.tw-btn:hover
{
    transform: scale(1.2);
    box-shadow: 0 30px 45px -15px rgba(0,111,255,0.6);
}
.sampleT{
  margin-top: 40px;
  color: rgba(255, 255, 255, 0.863);
  font-size: 13.5px;
  

}
#desTxt{
  margin-top: 70px;
  margin-left: -100px;
  width: 750px;
}


.socials {
  width: 100%;
  padding-top: 30px;
  margin-top: 60px;
  margin-left: -750px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: row;
}


#twt {
  background: rgba(255, 0, 0, 0);
  width: 100%;
  height: 400px;
  padding: 2px;
  border: 2px  solid white;
  box-shadow: 0px 1px 3px rgb(97, 7, 7) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
  margin: 50px;
}

#fb.i {
  background: rgba(0, 0, 255, 0);
  width: 100%;
  height: 300px;
  padding: 2px;
  border: 2px  solid white;
  margin: 50px;
}

#insta {
  background: rgba(0, 128, 0, 0);
  width: 100%;
  height: 300px;
  padding: 2px;
  border: 2px  solid white;
  margin: 50px;
  
}

body {
    display: flex;
    align-items: left;
    justify-content: left;
    min-height: 100vh;
    background-color: rgba(3, 1, 34, 0.897);
  }
  
  .deconstructed {
    position: relative;
    margin: 20px;
    height: 0.91em;
    color: transparent;
    font-family: "Cambay", sans-serif;
    font-size: 3vw;
    font-weight: 300;
    letter-spacing: 0.11em;
    line-height: .89em;
  }
  
  .deconstructed > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #0dffaeb6;
    pointer-events: none;
  }
  
  .deconstructed > div:nth-child(1) {
    -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
    mask-image: linear-gradient(black 25%, transparent 25%);
    animation: deconstructed1 10s infinite;
  }
  
  .deconstructed > div:nth-child(2) {
    -webkit-mask-image: linear-gradient(
      transparent 25%,
      black 25%,
      black 50%,
      transparent 50%
    );
    mask-image: linear-gradient(
      transparent 25%,
      black 25%,
      black 50%,
      transparent 50%
    );
    animation: deconstructed2 10s infinite;
  }
  
  .deconstructed > div:nth-child(3) {
    -webkit-mask-image: linear-gradient(
      transparent 50%,
      black 50%,
      black 75%,
      transparent 75%
    );
    mask-image: linear-gradient(
      transparent 50%,
      black 50%,
      black 75%,
      transparent 75%
    );
    animation: deconstructed3 10s infinite;
  }
  
  .deconstructed > div:nth-child(4) {
    -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
    mask-image: linear-gradient(transparent 75%, black 75%);
    animation: deconstructed4 10s infinite;
  }
  
  @keyframes deconstructed1 {
    0% {
      transform: translateX(100%);
    }
    26% {
      transform: translateX(0%);
    }
    83% {
      transform: translateX(-0.1%);
    }
    100% {
      transform: translateX(-120%);
    }
  }
  
  @keyframes deconstructed2 {
    0% {
      transform: translateX(100%);
    }
    24% {
      transform: translateX(0.5%);
    }
    82% {
      transform: translateX(-0.2%);
    }
    100% {
      transform: translateX(-125%);
    }
  }
  
  @keyframes deconstructed3 {
    0% {
      transform: translateX(100%);
    }
    22% {
      transform: translateX(0%);
    }
    81% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-130%);
    }
  }
  
  @keyframes deconstructed4 {
    0% {
      transform: translateX(100%);
    }
    20% {
      transform: translateX(0%);
    }
    80% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-135%);
    }
  }
  