*, *:before, *:after {
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  html, body, .modal, .shade {
    width: 100%;
    height: 100%;
  }
  
  body {
    font-family: "Source Sans Pro", sans-serif;
    background: url("https://d2slcw3kip6qmk.cloudfront.net/ux-assets/random/docs-list-screen-shot-2.png") no-repeat top center;
  }
  
  form {
    display: inline;
  }
  
  .modal {
    position: relative;
    opacity: 0;
    transition: all 0.3s;
  }
  .modal.show {
    opacity: 1;
  }
  .modal.show .container {
    transform: translate(0, 0);
  }
  
  .shade {
    background: rgba(255, 255, 255, 0.75);
  }
  
  footer button, footer a {
    height: 28px;
    padding: 0 15px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    color: #fff;
    margin-left: 15px;
    display: inline-block;
    vertical-align: top;
  }
  footer button.blue, footer a.blue {
    background: #29AAE1;
  }
  footer button.grey, footer a.grey {
    background: #828282;
  }
  footer a {
    padding-top: 6px;
    font-size: 15px;
  }
  
  .container {
    width: 900px;
    height: 700px;
    background: #fff;
    border-radius: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border: 1px solid #828282;
    transform: translate(0, 50px);
    transition: transform 0.5s;
  }
  .container header.main-header {
    background: #5a5a5a;
    height: 37px;
    width: 100%;
    color: #fff;
    font-size: 14px;
    padding: 12px;
    position: relative;
  }
  .container header.main-header img {
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
  }
  
  .left-bar {
    background-color: #f0f0f0;
    width: 230px;
    display: inline-block;
    height: 100%;
    box-shadow: 1px 0 0 #D2D2D2;
    position: relative;
    overflow: visible;
    z-index: 5;
  }
  .left-bar .search {
    height: 46px;
    padding: 9px 7px;
    border-bottom: 1px solid #d2d2d2;
    position: relative;
  }
  .left-bar .search img {
    position: absolute;
    top: 16px;
    right: 15px;
  }
  .left-bar .search input {
    height: 28px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #d2d2d2;
    font-size: 14px;
    text-indent: 10px;
    outline: none;
  }
  .left-bar .search input:focus, .left-bar .search input:active {
    border: 1px solid #29AAE1;
  }
  .left-bar ul {
    overflow: visible;
  }
  .left-bar ul li {
    height: 44px;
    border-bottom: 1px solid #d2d2d2;
    color: #5a5a5a;
    transition: background 0.1s;
    position: relative;
    cursor: pointer;
  }
  .left-bar ul li.main {
    padding: 14px;
  }
  .left-bar ul li a {
    display: inline-block;
    padding: 14px;
    width: 100%;
    height: 100%;
  }
  .left-bar ul li:hover {
    background: #E6E6E6;
  }
  .left-bar ul li .star {
    display: none;
  }
  .left-bar ul li .star-dark {
    display: inline;
  }
  .left-bar ul li.selected {
    background: #828282;
    color: #fff;
  }
  .left-bar ul li.selected img {
    margin-right: 10px;
    vertical-align: bottom;
  }
  .left-bar ul li.selected img.star {
    display: inline;
  }
  .left-bar ul li.selected img.star-dark {
    display: none;
  }
  .left-bar ul li.selected:after {
    width: 0;
    height: 0;
    content: "";
    border-right: 10px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: -2px;
    top: 12px;
    z-index: 2;
  }
  .left-bar ul li.parent {
    text-indent: 10px;
  }
  .left-bar ul li.parent:before {
    width: 0;
    height: 0;
    content: "";
    border-left: 7px solid #828282;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    left: 15px;
    top: 17px;
  }
  
  .main-list {
    display: inline-block;
    width: 668px;
    vertical-align: top;
    height: 600px;
    padding: 20px 30px;
    position: absolute;
    left: 232px;
    top: 37px;
    opacity: 1;
    transition: all 0.5s;
  }
  .main-list.inactive {
    left: -300px;
    opacity: 0;
  }
  .main-list.inactive h2 {
    text-indent: -100px;
    opacity: 0;
  }
  .main-list h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #5a5a5a;
    text-indent: 0;
    opacity: 1;
    transition: all 0.75s;
  }
  .main-list ul li {
    width: 179px;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 50px;
    cursor: pointer;
  }
  .main-list ul li:nth-of-type(3n) {
    margin-right: 0;
  }
  .main-list ul li:hover .wrapper {
    border-color: #828282;
  }
  .main-list ul li .wrapper {
    background: #fff;
    border: 1px solid #D2D2D2;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: border-color 0.1s;
    height: 138px;
  }
  .main-list ul li img {
    width: 100%;
  }
  .main-list ul li h4 {
    text-align: center;
    color: #5a5a5a;
    margin-top: 15px;
    font-size: 14px;
  }
  
  #back-button {
    position: absolute;
    left: 270px;
    top: 58px;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
    transition: opacity 0.2s, left 0.5s;
  }
  #back-button.show {
    opacity: 1;
    left: 250px;
    transition: opacity 0.2s 0.25s, left 0.5s 0.25s;
  }
  #back-button img {
    vertical-align: top;
    margin-right: 10px;
  }
  
  .template-detail {
    display: inline-block;
    width: 668px;
    vertical-align: top;
    height: 660px;
    padding: 20px 30px;
    position: absolute;
    left: 900px;
    top: 37px;
    background: #fff;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .template-detail.active {
    left: 230px;
    opacity: 1;
  }
  .template-detail.active h2 {
    text-indent: 0;
    opacity: 1;
  }
  .template-detail h2 {
    text-align: center;
    margin-bottom: 30px;
    text-indent: 100px;
    opacity: 0;
    font-size: 18px;
    font-weight: bold;
    color: #5a5a5a;
    transition: text-indent 0.75s, opacity 0.75s;
  }
  .template-detail .themes {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    text-align: center;
  }
  .template-detail .themes .swatch {
    width: 50px;
    height: 50px;
    margin: 0 auto 20px;
    cursor: pointer;
    position: relative;
  }
  .template-detail .themes .swatch span {
    background: url("https://d2slcw3kip6qmk.cloudfront.net/ux-assets/random/check2.svg") center center no-repeat;
    width: 15px;
    height: 15px;
    border-radius: 999px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
    position: absolute;
    opacity: 0;
    top: 14px;
    left: 15px;
    box-sizing: content-box;
    border: 2px solid white;
    transition: opacity 0.2s;
  }
  .template-detail .themes .swatch img {
    display: none;
  }
  .template-detail .themes .swatch.blank {
    background: #fff;
    border: 1px solid #d2d2d2;
  }
  .template-detail .themes .swatch.sandstorm {
    background: #fff9ed;
    border: 1px solid #d2d2d2;
  }
  .template-detail .themes .swatch.blue {
    background: #4187ad;
  }
  .template-detail .themes .swatch.dark {
    background: #3E3E3E;
  }
  .template-detail .themes .swatch.selected span {
    opacity: 1;
  }
  .template-detail .preview {
    display: inline-block;
    width: 524px;
    border: 1px solid #d2d2d2;
    height: 405px;
    position: relative;
  }
  .template-detail .preview img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  .template-detail p {
    font-size: 14px;
    line-height: 1.4;
    color: #5a5a5a;
    display: inline-block;
    width: 524px;
    margin-left: 84px;
    margin-top: 15px;
  }
  .template-detail footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
    text-align: right;
    padding: 15px;
    border-top: 1px solid #d2d2d2;
  }
  
  #no-templates h3 {
    color: #a0a0a0;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    width: 450px;
    line-height: 1.4;
    margin: 50px auto;
  }